env: "development"
log_level: "info" # info|warm|error
ports:
  http: "8000"
  metrics: "7000"
graceful_shutdown_timeout: "30s"
services:
  auth_grpc: "localhost:9180"
  storage_grpc: "localhost:9181"
  product_grpc: "localhost:9182"
